.logo-container {
    
    margin-left: 2%;
    min-width: 50%;
    display: flex;
    
    align-items: center;
    text-align: center;
}
.logo-img {
    padding: 6%;
height: 100%;
}

.logo-space {
    height: 100%;
    padding-right: 4%;
}

