.logo-container {
    
    margin-left: 2%;
    max-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.foto-img {
max-width:15%;
padding-right: 10%;


}