
.app__background{
  height: 100vh;
  width: 100vw;
  background: #FFEDD5;
  display: flex;
  flex-direction: column;
}


body {
  margin: 0;
}

.navbar {
 
  display: flex;
  background-color: #FB923C;
  min-width: 100vw;
  height: 8%;
}